<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HOME</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
  </head>
  <body class="mb-5">
    <div class="container mt-4 bg-primary text-white p-3">
      <h1 class="display-1">Hello! I am in a container</h1>
    </div>

    <div class="container mt-4">
      <h2 class="display-4">Grid</h2>
      <div class="row text-white">
        <div class="col bg-primary mr-1 p-3">Col-1</div>
        <div class="col bg-primary mr-1 p-3">Col-1</div>
        <div class="col bg-primary mr-1 p-3">Col-1</div>
      </div>
      <div class="row text-white mt-3">
        <div class="col-md bg-light p-3 mr-1">Col-1</div>
        <div class="col-md bg-dark p-3 mr-1">Col-1</div>
      </div>
      <div class="row text-white mt-3">
        <div class="col-md bg-info p-3 mr-1">Col-1</div>
        <div class="col-md bg-success p-3 mr-1">Col-1</div>
      </div>
      <div class="row text-white mt-3">
        <div class="col bg-warning mr-1 p-3">Col-1</div>
        <div class="col-6 bg-secondary mr-1 p-3">Col-1</div>
        <div class="col bg-danger mr-1 p-3">Col-1</div>
      </div>
    </div>

    <div class="container mt-3">
      <h2 class="display-4">Buttons</h2>

      <h3 class="display-5">Filled Buttons</h3>
      <button class="btn btn-primary">Primary</button>
      <button class="btn btn-secondary">secondary</button>
      <button class="btn btn-success">success</button>
      <button class="btn btn-info">info</button>
      <button class="btn btn-warning">warning</button>
      <button class="btn btn-danger">danger</button>
      <button class="btn btn-light">light</button>
      <button class="btn btn-light" disabled>disabled</button>

      <h3 class="display-5">Outlined Buttons</h3>
      <button class="btn btn-outline-primary">Primary</button>
      <button class="btn btn-outline-secondary">secondary</button>
      <button class="btn btn-outline-success">success</button>
      <button class="btn btn-outline-info">info</button>
      <button class="btn btn-outline-warning">warning</button>
      <button class="btn btn-outline-danger">danger</button>
      <button class="btn btn-outline-light">light</button>
      <button class="btn btn-outline-light" disabled>disabled</button>

      <h3 class="display-5">Buttons Sizes</h3>
      <button class="btn btn-sm btn-primary">Primary</button>
      <button class="btn btn-secondary">secondary</button>
      <button class="btn-lg btn-success">success</button>

      <h3 class="display-5">Block Buttons</h3>
      <button class="btn btn-block btn-primary">Primary</button>
      <button class="btn btn-block btn-secondary">secondary</button>
      <button class="btn-lg btn-block btn-success">success</button>
    </div>

    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
